---
# vars file for tom_install
req_tomcat_ver: 9.0.50
tomcat_url: http://mirrors.estointernet.in/apache/tomcat/tomcat-{{req_tomcat_ver.split('.')[0]}}/v{{req_tomcat_ver}}/bin/apache-tomcat-{{req_tomcat_ver}}.tar.gz
#tomcat_port: 8082

tomcat_port: >
              "{% if env == 'uat' %}
                  '8085'
               {% elif env == 'prod' %}
                  '8090'
               {% else %}
                  '8082'
               {% endif %}"